

.et-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  height: 75px;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-header--scrolled {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.et-header--move-up {
  transform: translateY(-75px);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-header__logo {
  color: rgb(44, 44, 44);
}
.et-header__link {
  margin-left: 1em;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-hero-tabs-container--top-first {
  position: fixed;
  top: 75px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-hero-tabs-container--top-second {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgb(161, 161, 161);
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(160, 185, 207, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: rgba(160, 185, 207, 0.8);
  transition: left 0.3s ease;
}

